#EXTENSIONS
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.srt
*.DS_Store
*.bat
*.db

#IDE
.idea/
*.swp
*.iml
*.komodoproject
*.sublime-*

#PROJECT
log/
node_modules/
tmp/
out/
build/
dist/
cache/
docs/
test/test-mock/testData/[0-9]*
test/test-mock/testData/t1/[0-9][0-9][0-9]*
#CUSTOM FILES
report.pdf
report.html
report.csv
package-lock.json
/nbproject/
/nbproject/private/
coverage/